.selectors_wrapper {
    padding: 20px 40px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 6;
}

.title {
    padding: 40px 40px 0;
    color: #fff;
    font-size: 24px;
    /* width: 100%; */
    width: 100vw;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_btn {
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background-color: #1a1a1a;
    padding: 10px;
    border: 1px solid #fff;
    transition: .3s;
    text-align: start;
    cursor: pointer;
}

.submit_btn:hover {
    color: #000;
    background-color: #fff;
    transition: .3s;
}

.submit_btn:active {
    background-color: var(--custom-orange-color);
    border: 1px solid var(--custom-orange-color);
    transition: .3s;
}

.submit_btn:disabled {
    background-color: #131313;
    color: #292929;
    border: none;
}